<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="row">
        <div class="navbar-collapse custom-nav">
          <a class="navbar-brand" href="mailto:rdyakbarov@gmail.com">rdyakbarov@gmail.com</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="https://bitbucket.org/">bitbucket<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/" target="_blank">github</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tg://resolve?domain=rdyakbarov">telegram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://vk.com/id372755723" target="_blank">vk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/rdyakbarov/?hl=ru" target="_blank">inst</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</footer>
