@import "../app.component.scss";

h1 {
  margin-bottom: 40px;
  @media (max-width: $screen-xs-max and $screen-sm-min) {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}

h3 {
  @media (max-width: $screen-xs-max and $screen-sm-min) {
    font-size: 1.2rem;
  }
}

.c-section-entry {
  margin-top: 100px;
  @media (max-width: $screen-xs-max and $screen-sm-min) {
    margin-top: 15px;
  }
}

