<div class="c-section-entry">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-8">
        <h1>Проект {{projectName}}</h1>
        <div class="p-2">
          <h3>Требование:</h3>
          <ul>
            <li>Готовое к выпуску приложение</li>
            <li>SPA приложение</li>
            <li>В теге < title > должно отображаться название текущей страницы.</li>
            <li>Выложено на github и README.md</li>
          </ul>
        </div>
        <div class="p-2">
          <h3>Что использовалось:</h3>
          <ul>
            <li>Angular CLI 1.6.4</li>
            <li>Bootstrap 4 / CSS 3</li>
            <li>Webpack</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <a routerLink="/login" class="btn btn-block btn-primary">войти</a>
      </div>
    </div>
  </div>
</div>
