body {
  font-size: 18px; }

.app-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  box-shadow: 0 0 10px -4px;
  min-height: 100vh; }

.container {
  margin: 0 auto; }

main {
  flex: 1; }

h1 {
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 1.5rem;
      margin-bottom: 15px; } }

@media (max-width: 991px) {
  h3 {
    font-size: 1.2rem; } }

.c-section-entry {
  margin-top: 100px; }
  @media (max-width: 991px) {
    .c-section-entry {
      margin-top: 15px; } }

/*# sourceMappingURL=entry.component.css.map */
