* {
  padding: 0;
  margin: 0; }

.app-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  box-shadow: 0 0 10px -4px;
  min-height: 100vh; }

app-entry-container-component {
  flex: 1; }

/*# sourceMappingURL=app.component.css.map */
