<div class="app-wrapper d-flex flex-column">
  <app-header-component></app-header-component>
  <main>
    <alert></alert>
    <router-outlet></router-outlet>
  </main>
  <app-footer-component></app-footer-component>
</div>
