body {
  color: #404E67;
  background: #F5F7FA;
  font-family: 'Open Sans', sans-serif; }

textarea {
  resize: none;
  min-height: 120px;
  height: auto;
  margin-bottom: 15px; }

.m-b {
  margin-bottom: 40px; }

.table-header {
  height: 100px; }

.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px; }

.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px; }

.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px; }

.table-title .add-new i {
  margin-right: 4px; }

table.table {
  table-layout: fixed; }

table.table tr th, table.table tr td {
  border-color: #e9e9e9; }

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer; }

table.table th:last-child {
  width: 100px; }

table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px; }

table.table td a.add {
  color: #27C46B; }

table.table td a.edit {
  color: #FFC107; }

table.table td a.delete {
  color: #E34724; }

table.table td i {
  font-size: 19px; }

table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px; }

table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px; }

table.table .form-control.error {
  border-color: #f50000; }

table.table td .add {
  display: none; }

.modal-content-item {
  display: flex;
  flex-direction: column; }
  .modal-content-item span {
    margin-bottom: 5px;
    font-weight: bold; }
  .modal-content-item input {
    margin-bottom: 15px;
    font-weight: 400; }

/*# sourceMappingURL=dashboard.component.css.map */
