<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-header d-flex justify-content-between align-items-center">
        <h1>{{appName}}</h1>
        <button class="btn btn-success" (click)="showAddDashboardForm()" data-toggle="modal" data-target="#add">
          добавить
        </button>
      </div>
      <div class="table-responsive-md m-b">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th class="text-center">Название</th>
            <th class="text-center">Описание</th>
            <th class="text-center">Сезон</th>
            <th class="text-center" style="width: 20%">Выберите действие</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dashboard of dashboard">
            <td>{{ dashboard.name }}</td>
            <td>{{ dashboard.description }}</td>
            <td>{{ dashboard.season }}</td>
            <td>
              <button class="btn btn-info" (click)="showEditDashboardForm(dashboard)" data-toggle="modal" data-target="#change">
                изменить
              </button>
              <button class="btn btn-danger" (click)="removeDashboard(dashboard)">
                удалить
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- modals -->

      <div id="change" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Редактирование записи</h4>
            </div>
            <div class="modal-body">
              <form *ngIf="editDashboardForm">
                <div class="modal-content-item">
                  <span>Название:</span>
                  <input type="text" name="name" [(ngModel)]="editedDashboard.name"/>
                </div>
                <div class="modal-content-item">
                  <span>Описание:</span>
                  <textarea name="description" [(ngModel)]="editedDashboard.description"></textarea>
                </div>
                <div class="modal-content-item">
                  <span>Сезон:</span>

                  <!-- todo -->

                  <select name="season" id="season">
                    <option value="зима">Зима</option>
                    <option value="зима">Зима</option>
                    <option value="зима">Зима</option>
                    <!--<option value="">Весна</option>-->
                    <!--<option value="">Лето</option>-->
                    <!--<option value="">Осень</option>-->
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="updateDashboard(editedDashboard)" data-dismiss="modal">
                Изменить
              </button>
              <button type="button" class="btn btn-warning" (click)="cancelEdits()" data-dismiss="modal">
                Закрыть
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="add" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Добавить запись</h4>
            </div>
            <div class="modal-body">
              <form *ngIf="dashboardForm">
                <div class="modal-content-item">
                  <span>Название:</span>
                  <input type="text" name="name" [(ngModel)]="newDashboard.name"/>
                </div>
                <div class="modal-content-item">
                  <span>Описание:</span>
                  <textarea name="description" [(ngModel)]="newDashboard.description"></textarea>
                </div>
                <div class="modal-content-item">
                  <span>Сезон:</span>

                  <!-- todo -->

                  <!--<select name="season" id="season">-->
                  <!--<option value="">Зима</option>-->
                  <!--<option value="">Весна</option>-->
                  <!--<option value="">Лето</option>-->
                  <!--<option value="">Осень</option>-->
                  <!--</select>-->
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="saveDashboard(newDashboard)" data-dismiss="modal">
                Добавить
              </button>
              <button type="button" class="btn btn-warning" (click)="cancelNewDashboard()" data-dismiss="modal">
                Закрыть
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
